*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)100px, rgba(0,0,0.5)200%), url(code2.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height:80px;
    margin:auto;
}

.icon{
    width: 300px;
    float: left;
    height: 1px;
}

.logo{
    color: chocolate;
    font-size: 40px;
    font-family: Arial;
    padding-left: 0px;
    float: left;
    padding-top: 2%;
}

.menu{
    width: 20px;
    float: left;
    height: 8px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style-type: none;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 15px;
}

ul li a{
    text-decoration: line;
    color: white ;
    font-family: Arial;
    font-weight: normal;
    transition: 0.5s;
}

ul li a:hover{
    color: chocolate;
}

.search{
    width: 350px;
    float: right;
    margin-right: 0px;
    padding-top: 10px;
}

.srch{
    font-family: 'Times New Roman';
    width: 250px;
    height: 45px;
    background: white;
    border: 1px solid white;
    margin-top: 10px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 45px;
    background: white;
    border: 2px solid burlywood;
    margin-top: 10px;
    color: brown;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}